.RecentActivity {
  position: relative;
}

.tx {
  margin: 0px 25px;
  border-radius: 4px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.head {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
}
.head:hover {
  background-color: #dadee8;
}

.time {
  color: #5C6878;
  text-transform: capitalize;
  width: auto;
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.time-month {
}

.time-day {
  font-size: 24px;
}

.send-receive {
  font-size: 27px;
  padding-top: 20px;
  padding-left: 30px;
}
.to-from {
  color: #707db8;
}
.tx-type {
  font-size: 18px;
}

.value {
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 31px;
}

.body {
  background-color: white;
}
